* {
    box-sizing: border-box;
}
:root {
}
html {
    font-size: 62.5%;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section__heading {
}

.section__desc {
}
