* {
    box-sizing: border-box;
}
:root {
    --primary-color: #143c3c;
    --primary-bg: #fff;
    --cicle-size: 55px;
}
html {
    font-size: 62.5%;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Public Sans", sans-serif;
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 57px;

    display: inline-block;
    min-width: 173px;
    height: var(--height);
    line-height: var(--height);
    background: var(--primary-color);
    border-radius: 40px;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section__heading {
    color: var(--primary-color-black, #152427);

    /* Heading/H3 42px bold */
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px; /* 123.81% */
}

.section__subheading {
    color: #152427;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.section__desc {
    color: var(--text-color-light-gray, #7d8188);
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

.section__desc.desc-lv1 {
    font-size: 1.8rem;
    line-height: 1.55;
}
.section__desc.desc-lv2 {
    font-size: 1.6rem;
    line-height: 1.62;
}
.section__desc.desc-lv3 {
    font-size: 1.4rem;
}

/* Header */
.header {
    padding-top: 28px;
}

.header__top {
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 14px;
}

.header__top::after {
    position: absolute;
    content: "";
    display: block;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
        18deg,
        #fff 0%,
        #dddcdc 51.25%,
        rgba(212, 212, 212, 0) 100%
    );
}

.nav {
    margin: 0 72px 0 auto;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    padding: 4px 16px;
    color: var(--text-color-black-gray, #575d5e);
    font-family: Public Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.nav__link--active,
.nav__link:hover {
    color: var(--primary-color-black, #152427);
    text-shadow: 1px 0 0 currentColor;
}

.nav__link--active::before {
    position: absolute;
    bottom: -1px;
    content: "";
    display: inline-block;
    width: 16px;
    height: 2px;
    background: var(--primary-color-black-green, #143c3c);
    z-index: 1;
}
/* Hero */
.hero {
    padding: 60px 0 88px 0;
}

.avstract-top {
    position: absolute;
    top: -25px;
    left: 254.61px;
    z-index: 2;
}
.avstract-bottom {
    position: absolute;
    right: 34px;
    top: 501px;
    z-index: 2;
}

.vector-top {
    position: absolute;
    top: -32.07px;
    left: 297px;
    z-index: 1;
}

.vector-bottom {
    position: absolute;
    bottom: -72px;
    right: 70px;
    z-index: 1;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hero__content {
    flex-shrink: 0;
    width: 34%;
}
.hero__media {
    margin-right: 25px;
}

.hero__title {
    max-width: 368px;
    color: var(--primary-color-black, #152427);
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}
.hero__desc {
    margin: 20px 0 42px 0;
    max-width: 341px;
}

.hero-btn {
    display: flex;
    justify-content: space-between;
}

.hero-btn-watch {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hero-btn-watch:hover .hero-btn-watch__body {
    rotate: 135deg;
    border-color: #83a17d transparent transparent #83a17d;
}

.hero-btn-watch:hover .hero-btn-watch__icon {
    rotate: 225deg;
}

.hero-btn-watch:hover .hero-btn-watch__text {
    color: #83a17d;
}

.hero .hero-btn-watch__body {
    width: var(--cicle-size);
    height: var(--cicle-size);
    border-radius: 50%;
    border-width: calc(var(--cicle-size) / 100 * 10);
    border-style: solid;
    border-color: var(--primary-color) transparent transparent
        var(--primary-color);
    rotate: -45deg;
    transition-duration: 0.5s;
}

.hero-btn-watch__icon {
    width: 100%;
    height: 100%;
    background-color: #83a17d;
    color: #fff;
    border-radius: 50%;
    border: calc(var(--cicle-size) / 100 * 10) solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    rotate: 45deg;
}

.hero-btn-watch__text {
    margin-left: 15px;
    color: #152427;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.hero__media {
    position: relative;
}

.hero__img-wrap {
    display: flex;
    column-gap: 20px;
    padding-bottom: 77px;
}

.hero__img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.hero__img-item:nth-child(2) {
    transform: translateY(77px);
}

.background--filter {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(137px);
    z-index: -1;
}
/* Brand */
.brand {
    margin-top: 100px;
}

.brand__inner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #e2eddf;
    border-radius: 999px;
    padding: 85px 100px 85px 122px;
}
.brand-agworld {
    display: flex;
    align-items: center;
    column-gap: 11px;
}

.brand-agworld__text {
    color: #163c35;
    font-size: 2.6rem;
    font-weight: 400;
}
/* Service */
.service {
    padding: 56px 0;
    margin-top: 50px;
}
.service__title {
    display: inline-block;
    position: relative;
    margin-left: 46px;
}

.service__title::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: calc(50% - 3px);
    left: -46px;
    background: #152427;
    width: 25px;
    height: 1px;
}

.service-top {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.service-top__heading {
    position: relative;
    max-width: 520px;
}

.service-top__heading::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 19px;
    right: 103px;
    width: 66px;
    height: 2px;
    background: #152427;
}

.control {
    margin: 0 73px 0 auto;
    display: flex;
    align-items: center;
    column-gap: 17px;
}

.control__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #152427;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: #e2eddf;
    transition: 0.3s;
}

.control__item:hover {
    background: #143c3c;
    color: #fff;
}

.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}
.service-item {
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.service-item:hover {
    border-radius: 20px;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service-item:hover .service-item__img {
    transform: scale(1.1);
}

.service-item:hover .service-item__body {
    padding: 24px 18px;
    background: #fff;
}

.service-item__images {
    overflow: hidden;
}

.service-item__img {
    display: flex;
    width: 370px;
    height: 318px;
    object-fit: cover;
    transition: 0.3s;
}

.service-item__body {
    padding-top: 24px;
    background: transparent;
}

.service-item__desc {
    margin-top: 18px;
    max-width: 268px;
}
